.inputGroup {
  margin-bottom: 20px;
  border-radius: 0 80px 40px 0;

}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #2B2F38;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 14px 16px;
  background: #FFFFFF;
  border: 1px solid #334155;
  border-radius: 8px;
  /* color: #F1F5F9; */
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-color: #8B5CF6;
  box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.2);
}


.eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #94A3B8;
  font-size: 20px;
  cursor: pointer;
}

.error {
  border-color: #F87171;
}

.errorText {
  color: #F87171;
  font-size: 13px;
  margin-top: 6px;
}