.container {
  display: flex;
  min-height: 100vh;
  background: #1E1E1E;

}

.formSection {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #D4D7E3;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

}

.formCard {
  width:100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #242531;
}

.subtitle {
  font-size: 15px;
  color: #8897AD;
  margin-bottom: 30px;
}

.forgotLink {
  text-align: right;
  margin: 12px 0 24px;
}

.forgotLink a {
  color: #4e21d4;
  font-size: 14px;
}

.signupText {
  text-align: center;
  margin-top: 32px;
  color: #8897AD;
  font-size: 15px;
}

.signupText a {
  color: #4e21d4;
  font-weight: 600;
}

.illustrationSection {
  flex: 1.2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E1E1E;
  padding: 40px;
  overflow: hidden;
}

.illustration {
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin-top: 100px;
  margin-right:70px;
}

.frame {
  position: absolute;
  bottom: 30px;
  left: 600px;
  max-width: 120px; /* adjust size */
  z-index: 2;
}

.welcomeOverlay {
  position: absolute;
  top: 80px;
  left: 60px;
  z-index: 2;
}

.welcomeText {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    min-height: 100vh;
  }

  /* FORM SECTION */
  .formSection {
    padding: 20px;
    width: 100%;
    /* margin:20px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 100vh;
  }

  .formCard {
    padding: 24px;
    max-width: 100%;
    border-radius: 14px;
  }
 

  .title {
    font-size: 24px;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }

  .forgotLink {
    text-align: center;
  }

  .signupText {
    font-size: 14px;
  }

  /* ILLUSTRATION SECTION */
  .illustrationSection {
    display:none;
    /* flex: none;
    min-height: auto;
    padding: 20px;
    background: #1E1E1E; */
  }

 

  /* REMOVE ABSOLUTE POSITIONING */
  .welcomeOverlay {
    position: static;
    text-align: center;
    margin-bottom: 16px;
  }

  .welcomeText {
    font-size: 28px;
    line-height: 1.3;
  }

  .frame {
    position: static;
    display: block;
    margin: 0 auto 16px;
    max-width: 90px;
  }
}
