.container {
  display: flex;
  min-height: 100vh;
  background: #424457;
  margin-left: 0%;     

}

/* MAIN CONTENT AREA */
.main {
  width: 100%;
    /* top aligned */
}
.page{
  color: #ffffff;
  font-size: 20px;
  /* margin-top: 28px; */
  border-bottom: 2px solid white;
}
.page>h1{

  padding-top: 22px;

  padding-left: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  


}
.page h2{
  width: 100%;
}
/* WHITE CARD */
.formCard {
  width:95%;
  background: #ffffff;
  padding:30px;
  margin-top: 10px;
  margin-right:10px;
  margin-left: 20px;
}

/* TITLE */
.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #111827;

    border-bottom: 1px solid black;
    /* padding-bottom: 15px; */
}

/* FORM ROW */
.row {
  display: flex;
  flex-direction: column;
}

/* FORM FIELD */
.field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.field label {
  font-weight: 500;
  font-size: 15px;
  color:#5E5E5E;
}
.field input{
  height: 40px;
}

.actions {
 display: flex;
 justify-content: end;

}
.actions button{
  width:20%;
  border-radius: 20px;
}

.main>div:not(:first-child){
  margin:10px;
}

@media (max-width:768px){
  
  .page>h1{
    display: none;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
     margin-top: 58px;
    margin-bottom: 58px;
  }

  .formCard{
    /* margin:unset; */
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
  }
  form{
    max-width:500px;

  }
  .field{
    width: 100%;
    max-width: 500px;
  }




}

