/* =====================
   LAYOUT
===================== */
.container {
  display: flex;
  min-height: 100vh;
  background:#424457;
}

.main {
  flex: 1;
   padding: 30px 0px;

}

/* =====================
   PAGE TITLE
===================== */
.pageTitle {
 padding-left: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}

/* =====================
   TOP BAR
===================== */
.topCards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 28px;
}

.card1{
  background: #FAD85D;
  padding: 20px;
    border-radius:7px;
  color: black;
  width: 100%;
  height: 100%;

}
.card2{
  background: #0BF4C8;
  padding: 20px;
   color: black;

  border-radius:7px;
  width: 100%;
  height: 100%
}

.card3{
  background: #F2A0FF;
  padding: 20px;
    color: black;

    border-radius:7px;
  width: 100%;
  height: 100%
  border
}

.cardTitle {
  font-size: 14px;
    color: black;

  margin-bottom: 8px;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.card span {
  font-size: 13px;
  color: #9ca3af;
}

/* =====================
   BOTTOM SECTION
===================== */
.bottomSection {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

/* =====================
   CHART CARD
===================== */
.chartCard {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  /* height: 380px; */
  width:70%;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cardHeader h3 {
  color:black;
  font-size: 16px;
  font-weight: 500;
}

.dropdown {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
  background: white;
  font-size: 12px;
}


.chartWrapper {
  flex: 1;
}

/* =====================
   TOP PRODUCTS
===================== */
.topProducts {
  width:30%;
  border-radius: 12px;
  padding: 20px;
  background: lab(88.16% -3.01 -1.06);
}

.topProducts h3 {
  color:#1E1E1E;
  font-size: 16px;
  margin-bottom: 16px;
}

.topProducts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topProducts li {
  
  padding: 6px 0;
  font-size: 14px;
  color: #111827;
  height:120px;
}

.topProducts li:last-child {
  border-bottom: none;
}

/* =====================
   LOADING
===================== */
.loading {
  color: white;
  padding: 40px;
}



@media (max-width: 768px) {
  .topCards {
    grid-template-columns: 1fr;
  }
   .topCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottomSection {
    flex-direction: column;
  }
  .bottomSection>*{
    width: 100%;
  }
   .container {
    flex-direction: column;
    margin-top: 58px;
    margin-bottom: 58px;
  }
  .pageTitle{
    display: none;
  }
}


body{
  margin: 0%;
  box-sizing: border-box;
}






